body {
	font-family: "Cantarell";
	margin: 0;
	color: #000;
	background: #FFF;
	text-align: center;
}

a {
	color: #2A4EA8;
}

footer {
	font-weight: bold;
	font-size: .8em;
	background: rgba(255, 255, 255, .6);
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: solid 1pt #666;
	color: #666;
	margin: 0;
	padding: 0.25em;
}

header {
	font-size: 1.5em;
	padding: 0.5em;
	background: #353CA5;
	background: linear-gradient(to right, #56009d 0%, #009AB2 100%) no-repeat fixed;
	color: #FFF;
}

header>h1 {
	display: inline-block;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

nav {
	background: linear-gradient(to bottom, #EEE, #CCC);
	border-bottom: 1pt solid #888;
}

header>button {
	display: inline-block;
	border: none;
	background: transparent;
	color: #FFF;
	font-size: 1em;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

select, nav button {
	padding: .5em 0;
	font-family: "Cantarell";
	font-size: 1.2em;
	border: none;
	border-left: 1pt solid #888;
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: transparent;
	color: #111;
	text-shadow: 1pt 1pt 1pt #FFF;
	cursor: pointer;
	transition: background .3s;
	padding: .2em .5em;
}

select {
	padding-right: 1.5em;
}

nav button {
	border-right: 1pt solid #888;
}

select:hover, nav button:hover, select:focus, nav button:focus {
	background: rgba(255, 255, 255, 0.5);
}

select:active, nav button:active {
	background: rgba(150, 150, 150, 0.5);
}

select option {
	background: #FFF;
}

label {
	position: relative;
	display: inline-block;
}

label::after {
	position: absolute;
	top: 0; right: 0;
	font-size: 1.2em;
	padding: .25em .5em;
	font-family: 'euqnalac';
	content: "\E805";
	color: #333;
	pointer-events: none;
}

.semaine {
	display: flex;
}

.jour {
	background: #FFF;
	width: 100%;
	font-size: 0.8em;
	border-right: 1pt solid #DDD;
	padding-bottom: 2em;
}

.jour:last-child {
	border: none;
}

.cours {
	border-radius: .3em;
	overflow: hidden;
	margin: 0 1em;
}

.m30 {
	height: 2em;
	margin-bottom: 0.5em;
}

.m60 {
	height: 4.5em;
	margin-bottom: 0.5em;
}

.m90 {
	height: 7em;
	margin-bottom: 0.5em;
}

.m120 {
	height: 9.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.6em;
	margin: .5em 0;
}

h4 {
	margin: 0;
	color: #353CA5;
	font-size: 1.1em;
}

.cours .desc {
	padding: 0 1em;
}

.cours h4 {
	padding: .9em 0 .3em;
}

.cours p {
	margin: 0;
}

