body {
	font-family: "Cantarell";
	margin: auto;
	color: #000;
	background: #FFF;
	text-align: center;
}

h1 {
	font-size: 1em;
	background: #FFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: solid 1pt #666;
	color: #666;
	margin: 0;
	padding: 0.25em;
}

h2 {
	margin-top: 0;
	padding: 0.5em;
  background: #353CA5;
  background: linear-gradient(to right, #56009d 0%, #009AB2 100%) no-repeat fixed;
	color: #FFF;
}

.semaine {
	display: flex;
}

.jour {
	background: #FFF;
	padding: 1em;
	width: 100%;
}

.cours {
	margin: 0.5em;
	font-size: 0.8em;
	height: 9em;
	background: #FFF;
}

h3 {
	font-size: 1.3em;
}

h4 {
	margin: 0;
	color: #353CA5;
	font-size: 1.1em;
}

.cours .desc {
	padding: 1em;
}

.cours p {
	margin: 0;
}
